@model Magazin_Online.Models.Product

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<br />

<nav class="navbar navbar-light bg-light justify-content-between">
    <form class="form-inline" method="get" action="/Product">
        <input type="hidden" name="page" value="1">
        <input type="hidden" name="sort" value="norm">
        <input class="form-control mr-sm-2" type="search" name="searched" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<div class="card">

    @Html.Partial("ProductShow", Model)

    <form method="post" action="/BasketProduct/Add/@Model.ProductId">
        <input type="hidden" name="ProductId" value="@Model.ProductId" />
        <div class="d-flex flex-row justify-content-center p-3 border-1 border-top">
            <div>
                <input type="submit" class="btn btn-success alert-success" value="Cumpara" />
            </div>
        </div>
    </form>

    @if (ViewBag.AfisareButoane == true && Model.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
    {
        <div class="d-flex flex-row justify-content-between p-3 border-1 border-top">
            <a class="btn btn-success" href="/Product/Edit/@Model.ProductId">Editeaza produs</a>
            <form method="post" action="/Product/Delete/@Model.ProductId">
                <button class="btn btn-danger" type="submit">Sterge articol</button>
            </form>
        </div>
    }
    <br />

    @{
        var reviewModel = new Magazin_Online.Models.Review();
        reviewModel.ProductId = Model.ProductId;
    }
    
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <a class="btn btn-primary" href="/Product/Show/@Model.ProductId?section=descriere">Descriere</a>
        <a class="btn btn-primary" href="/Product/Show/@Model.ProductId?section=review">Review-uri</a>
        <a class="btn btn-primary" href="/Product/Show/@Model.ProductId?section=comentarii">Comentarii</a>
    </div>
    <br />

    <br />

    @if (ViewBag.section == "descriere")
    {
        <div style="text-align: justify; font-size: 25px; line-height: 1.5;">
            @Html.Raw(Model.Description)
        </div>
    }
    else if(ViewBag.section=="review"){
        @if(ViewBag.currentid!=null){
            @Html.Partial("ReviewNew", reviewModel)
        }
        @Html.Partial("ProductReview",Model)

    }

    else if(ViewBag.section=="comentarii"){
        <div class="p-3 border-1 border-top">
        
        @if (ViewBag.currentid != null)
        {
            Comment comment = new Comment();
                comment.ProductId = Model.ProductId;
                @Html.Partial("AddComment",comment)

        }

        <h3>Comentarii(@ViewBag.comscount):</h3>
        
        @if (Model.Comments != null && Model.Comments.Any())
        {
            foreach (var comment in Model.Comments)
            {
                <div class="comment">
                    <p>@comment.Content</p>
                    <p>By: @comment.User.UserName</p>

                    @if (User.IsInRole("Admin") || User.Identity.Name == comment.User.UserName)
                    {
                        <form method="post" asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.CommentId">
                            <button type="submit" class="btn btn-danger">Stergere</button>
                        </form>

                        <a class="btn btn-danger" asp-controller="Comment" asp-action="Edit" asp-route-id="@comment.CommentId">Editare</a>
                    }
                    <hr>
                </div>
            }
        }
        else
        {
            <p>Nu exista comentarii pentru acest produs.</p>
        }
    </div>
        
    }
    

    
    
</div>
