@model List<Product>

<h1>Cosul meu: </h1>

<table class="table">
    <thead>
        <tr>
            <th>Imagine</th>
            <th>Titlu</th>
            <th>Pret</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @if (product.Photo != null && product.Photo.Length > 0)
                    {
                        <img src="data:image/png;base64,@Convert.ToBase64String(product.Photo)" alt="Imagine produs" width="75" height="50" />
                    }
                </td>


                <td> <a href="/Product/Show/@product.ProductId">@product.Title </a></td>
                

                <td>@product.Price</td>
                <td>
                    <form method="post" action="@Url.Action("Delete", "BasketProduct", new { id_prod = product.ProductId })">
                        @Html.Hidden("id_prod", product.ProductId)
                        <button type="submit" class="btn btn-danger">Sterge din Cos</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model != null && Model.Count > 0)
{
    <form action="@Url.Action("New", "Order")" method="post">
        <div>
            <h4>Adresa de livrare:</h4>
            <input type="text" id="AdresaLivrare" name="AdresaLivrare" class="form-control" placeholder="Introduceți adresa de livrare">
        </div>

        <h4>Pret total: @Model.Sum(p => p.Price) RON</h4>

        <button type="submit" class="btn btn-success">Plaseaza comanda</button>
    </form>
}
